*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
.column1
{
    width: 50%;
    float: left;
}
.color1
{
    height: 50%;
    width: 100%;
    background-color: #d5b83f;
}
.color2
{
    height: 50%;
    width: 100%;
    background-color: #a8acb0;
}
.column2
{
    width: 50%;
    float: right;
}
.color3
{
    height: 100%;
    width: 50%;
    background-color: #008081;
    float: left;
}
.color4
{
    height: 50%;
    width: 50%;
    background-color: #febfcb;
    float: right;
}
.color5
{
    height: 50%;
    width: 50%;
    background-color: #ffffff;
    float: right;
}