*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    height: 100%;
}
:root
{
    --teal: #008081;
    --babypink: #febfcb;
    --white: #ffffff;
}
.fcontainer
{
    display: flex;
}
.item1
{
    background-color: var(--teal);
    width: 50%;
}
.column
{
    width: 50%;
}
.item2
{
    height: 50%;
    background-color: var(--babypink);
}
.item3
{
    height: 50%;
    background-color: var(--white);
}