*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
.color1
{
    height: 50%;
    width: 50%;
    float: left;
    background-color: #008081;
}
.color2
{
    height: 50%;
    width: 50%;
    float: right;
    background-color: #febfcb;
}
.color3
{
    height: 50%;
    width: 50%;
    float: left;
    background-color: #008081;
}
.color4
{
    height: 50%;
    width: 50%;
    float: right;
    background-color: #ffffff;
}