*
{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
}
.row1
{
    height: 50%;
    width: 100%;
}
.color1
{
    background-color: #d5b83f;
    height: 40%;
}
.color2
{
    background-color: #a8acb0;
    height: 60%;
}
.row2
{
    display: flex;
    height: 50%;
}
.color3
{
    background-color: #d5b83f;
    width: 50%;
}
.color4
{
    background-color: #a8acb0;
    width: 50%;
}