*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    height: 100%;
}
:root
{
    --teal: rgb(0 128 129);
    --babypink: rgb(254 191 203);
    --white: rgb(255 255 255);
}
.fcontainer
{
    display: flex;
}
.item1
{
    background-color: var(--teal);
    width: 50%;
}
.column
{
    width: 50%;
}
.item2
{
    height: 50%;
    background-color: var(--babypink);
}
.item3
{
    height: 50%;
    background-color: var(--white);
}