*
{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
}
.fcontainer
{
    display: flex;
}
.column1
{
    width: 100%;
}
.color1
{
    background-color: #d5b83f;
    height: 50%;
}
.color2
{
    background-color: #a8acb0;
    height: 50%;
}
.column2
{
    width: 50%;
}
.color3
{
    background-color: #008081;
    height: 100%;
    width: 100%;
}
.column3
{
    width: 50%;
}
.color4
{
    background-color: #febfcb;
    height: 50%;
    width: 100%;
}
.color5
{
    background-color: #ffffff;
    height: 50%;
    width: 70%;
}