*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    height: 100%;
}
.fcontainer
{
    display: flex;
}
.color1
{
    background-color: #008081;
    width: 50%;
}
.column
{
    width: 50%;
}
.color2
{
    height: 50%;
    background-color: #febfcb;
}
.color3
{
    height: 50%;
    background-color: #ffffff;
}