*{
    margin: 0;
    padding: 0;
    height: 100%;
}
.all{
    display: flex;
}
.column1{
    width: 50%;
}
.color1{
    background-color: #008081;
}
.column2{
    width: 50%;
}
.color2{
    background-color: #febfcb;
    height: 50%;
}   
.color3{
    background-color: #fff;
    height: 50%;
}