*{
    margin: 0;
    padding: 0;
}
.color1
{
    width: 50%;
    height: 100%;
    float: left;
    background-color: #008080;
}
.color2
{
    width: 50%;
    height: 50%;
    float: right;
    margin-top: 0;
    background-color: #ffc0cb;
}
.color3
{
    width: 50%;
    height: 50%;
    float: right;
    /* margin-top: 50%; */
    background-color: #ffffff;
}