*{
    margin: 0;
    padding: 0;
}
:root
{
    --golden: #d6b83e;
    --grey: #a9acb1;
    --pink: #ffc0cb;
    --white: #ffffff;
    --teal: #008081;
}
.flex-container
{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.flex-container-A
{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}
.flex-container-B
{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
}

.color1
{
    height: 50%;
    background-color: var(--golden);
}
.color2
{
    height: 50%;
    background-color: var(--grey);
}
.color3
{
    width: 50%;
    height: 100%;
    background-color: var(--teal);
}
.color4
{
    width: 50%;
    height: 50%;
    background-color: var(--pink);
}
.color5
{
    width: 50%;
    height: 50%;
    background-color: var(--white);
}